body {
  font-family: arial, sans-serif;
}


.main{
  margin: 0 auto;
  margin-top: 198px;
  width: 600px;
}

.logo{
  width:272; height:92;
  margin: 0 auto;
  margin-bottom: 31px;
}
.searchform {
  width: 482px;
  margin: 0 auto;
}
.text {
  width: 470px; height: 32px;
  border: 0.5px solid #C9C9C9;
  padding:3px 5px;
}

.buttonwrapper {
  width: 400px;
  margin: 33px auto;
  text-align: center;
}

.button {
  height:36px;
  border: none;
  font-size: 11.5px;
  font-weight:bold;
  color: #757575;
  background-color: #F2F2F2;
  border-radius: 2px;
  margin: 0 2px;
}

#search {
  width:132px;
}

#lucky {
  width:146px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
  width: 100%;
  height: 42px;
}
.leftlinks {
  float:left;
}

.rightlinks {
  float: right;
  margin-right: 28px;
}

ul {
  list-style-type: none;
  padding:0;
  margin:13px 0 0 0;
}
li {
  display:inline-block;
  font-size: small;
  padding-left: 28px;
  padding-bottom: 0;

}
li a {
  text-decoration: none;
  color:#666;
}

a:hover {
  text-decoration: underline;
}

.button:hover {
  border: 1px solid #C9C9C9;;
  color: black;
}

.button:focus {
  border-color: #4D90FE;
}

input:hover{
  border-color: #A0A0A0;
}

input:focus {
  border-color: #4D90FE;
}
